.home-page {
  display: flex;
}

/* Sidebar width is 250px, fixed */
.main-content {
  margin-left: 250px; /* space for fixed sidebar */
  flex: 1;
  padding: 10px;
}

/* ----------------- MOBILE ----------------- */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0; /* take full width when sidebar hidden */
  }
}
